Repository softeerbootcamp-3rd/Team8-8LISADE, pull requests merged in 2024-02, with the labels that each got.

#242 [AOS] Feat: QR코드 생성 구현 #227
  AOS/app/build.gradle.kts
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/com/softeer/togeduck/ui/intro/LoginViewModel.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/reserve_status/reserve_detail/MobileTicketFragment.kt
  AOS/app/src/main/res/layout/fragment_mobile_ticket.xml
Labels: AOS, feature, priority: 2

#241 [AOS] Feat: 좌석 커스텀 뷰 모듈 분리 #217
  AOS/app/build.gradle.kts
  AOS/app/libs/seatview-release.aar
  AOS/app/src/main/java/com/softeer/togeduck/ui/home/seat/SeatSelectFragment.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/reserve_status/reserve_detail/SeatChartFragmentDialogue.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/reserve_status/reserve_detail/SeatChartViewModel.kt
  AOS/app/src/main/java/com/softeer/togeduck/utils/EventListener.kt
  AOS/app/src/main/res/layout/fragment_seat_chart_dialogue.xml
  AOS/app/src/main/res/layout/fragment_seat_select.xml
  AOS/build.gradle.kts
Labels: AOS, feature, priority: 3

#244 [AOS] Fix: 로그인 뷰모델 수정
  AOS/app/src/main/java/com/softeer/togeduck/ui/intro/LoginFragment.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/intro/LoginViewModel.kt
  AOS/app/src/main/res/layout/fragment_login.xml
Labels: AOS

#249 [AOS] Fix: 게시글 디테일 이미지 변경#245
  AOS/app/src/main/java/com/softeer/togeduck/ui/home/article_detail/ArticleDetailActivity.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/home/open_route/OpenRouteViewModel.kt
  AOS/app/src/main/java/com/softeer/togeduck/utils/BindingAdapter.kt
  AOS/app/src/main/res/layout/activity_article_detail.xml
Labels: AOS, fix, priority: 2

#250 [AOS] Feat: 예약 현황 페이징 처리 #218
  AOS/app/build.gradle.kts
  AOS/app/src/main/java/com/softeer/togeduck/data/mapper/ReserveStatusMapper.kt
  AOS/app/src/main/java/com/softeer/togeduck/data/remote/datasource/ReserveStatusPagingDataSource.kt
  AOS/app/src/main/java/com/softeer/togeduck/data/repository/ReserveStatusRepository.kt
  AOS/app/src/main/java/com/softeer/togeduck/di/DataSourceModule.kt
  AOS/app/src/main/java/com/softeer/togeduck/di/RepositoryModule.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/home/open_route/OpenRouteViewModel.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/reserve_status/ReserveStatusAdapter.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/reserve_status/ReserveStatusFragment.kt
  AOS/app/src/main/java/com/softeer/togeduck/ui/reserve_status/ReserveStatusViewModel.kt
Labels: AOS, feature, priority: 2
